@{
    ViewData["Title"] = "Security Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://themindstudios.com/blog/how-to-make-a-secure-chat-app-like-signal/">Buliding a secure chat app.</a>.</p>
    <p><a href="https://www.google.com/">If you have more still doubt click on this link</a></p>
</div>
