@{
    ViewData["Title"] = "JSON Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://themindstudios.com/blog/how-to-make-a-secure-chat-app-like-signal/">Buliding a secure chat app.</a>.</p>
</div>
